{
  "printWidth": 300,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": "*.java",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
